# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Add_Binary.class
/Add_Two_Numbers.class
/Anagrams.class
/Balanced_Binary_Tree.class
/Best_Time_to_Buy_and_Sell_Stock.class
/Best_Time_to_Buy_and_Sell_Stock_II.class
/Best_Time_to_Buy_and_Sell_Stock_III.class
/Binary_Search_Tree_Iterator$TreeNode.class
/Binary_Search_Tree_Iterator.class
/Binary_Tree_Inorder_Traversal.class
/Binary_Tree_Level_Order_Traversal$TreeNode.class
/Binary_Tree_Level_Order_Traversal.class
/Binary_Tree_Level_Order_Traversal_II$TreeNode.class
/Binary_Tree_Level_Order_Traversal_II.class
/Binary_Tree_Postorder_Traversal.class
/Binary_Tree_Preorder_Traversal$TreeNode.class
/Binary_Tree_Preorder_Traversal.class
/Binary_Tree_Right_Side_View.class
/Binary_Tree_Zigzag_Level_Order_Traversal.class
/Bitwise_AND_of_Numbers_Range.class
/Climbing_Stairs.class
/Combination_Sum.class
/Combination_Sum_II.class
/Combination_Sum_III.class
/Combinations.class
/Construct_Binary_Tree_from_Inorder_and_Postorder_Traversal.class
/Construct_Binary_Tree_from_Preorder_and_Inorder_Traversal.class
/Container_With_Most_Water.class
/Contains_Duplicate.class
/Contains_Duplicate_II.class
/Convert_Sorted_Array_to_Binary_Search_Tree$TreeNode.class
/Convert_Sorted_Array_to_Binary_Search_Tree.class
/Convert_Sorted_List_to_Binary_Search_Tree$ListNode.class
/Convert_Sorted_List_to_Binary_Search_Tree$TreeNode.class
/Convert_Sorted_List_to_Binary_Search_Tree.class
/Copy_List_with_Random_Pointer.class
/Count_and_Say.class
/Distinct_Subsequences.class
/Edit_Distance.class
/Factorial_Trailing_Zeroes.class
/Find_Minimum_in_Rotated_Sorted_Array.class
/Find_Minimum_in_Rotated_Sorted_Array_II.class
/Find_Peak_Element.class
/First_Missing_Positive.class
/Flatten_Binary_Tree_to_Linked_List.class
/Four_Sum.class
/Gas_Station.class
/Generate_Parentheses.class
/Gray_Code.class
/House_Robber.class
/House_Robber_II.class
/Insertion_Sort_List.class
/Integer_to_Roman.class
/Intersection_of_Two_Linked_Lists.class
/Invert_Binary_Tree.class
/Isomorphic_Strings.class
/Jump_Game.class
/Jump_Game_II.class
/Kth_Largest_Element_in_an_Array.class
/Length_of_Last_Word.class
/Letter_Combinations_of_a_Phone_Number.class
/Linked_List_Cycle.class
/Linked_List_Cycle_II.class
/ListNode.class
/Longest_Common_Prefix.class
/Longest_Consecutive_Sequence.class
/Longest_Palindromic_Substring.class
/Longest_Substring_Without_Repeating_Characters.class
/Majority_Element.class
/Maximum_Depth_of_Binary_Tree$TreeNode.class
/Maximum_Depth_of_Binary_Tree.class
/Maximum_Gap.class
/Maximum_Product_Subarray.class
/Maximum_Subarray.class
/Maximum_Sum_Subarray.class
/Median_of_Two_Sorted_Arrays.class
/Merge_Sorted_Array.class
/Merge_Two_Sorted_Lists$ListNode.class
/Merge_Two_Sorted_Lists.class
/Merge_k_Sorted_Lists.class
/Minimum_Depth_of_Binary_Tree$TreeNode.class
/Minimum_Depth_of_Binary_Tree.class
/Minimum_Path_Sum.class
/Minimum_Size_Subarray_Sum.class
/MyStack.class
/N_Queens.class
/N_Queens_II.class
/Next_Permutation.class
/Number_of_1_Bits.class
/Palindrome_Number.class
/Palindrome_Partitioning.class
/Partition_List.class
/Pascal_Triangle.class
/Pascal_Triangle_2.class
/Path_Sum$TreeNode.class
/Path_Sum.class
/Path_Sum_II.class
/Permutation_Sequence.class
/Permutations.class
/Permutations_II.class
/Plus_One.class
/Populating_Next_Right_Pointers_in_Each_Node$TreeLinkNode.class
/Populating_Next_Right_Pointers_in_Each_Node.class
/Populating_Next_Right_Pointers_in_Each_Node_II$TreeLinkNode.class
/Populating_Next_Right_Pointers_in_Each_Node_II.class
/RandomListNode.class
/Recover_Binary_Search_Tree.class
/Rectangle_Area.class
/Remove_Duplicates_from_Sorted_Array.class
/Remove_Duplicates_from_Sorted_Array_II.class
/Remove_Duplicates_from_Sorted_List.class
/Remove_Duplicates_from_Sorted_List_II.class
/Remove_Element.class
/Remove_Nth_Node_From_End_of_List$ListNode.class
/Remove_Nth_Node_From_End_of_List.class
/Reorder_List.class
/Reverse_Bits.class
/Reverse_Integer.class
/Reverse_Linked.class
/Reverse_Linked_List.class
/Reverse_Nodes_in_k_Group.class
/Roman_to_Integer.class
/Rotate_Image.class
/Same_Tree$TreeNode.class
/Same_Tree.class
/Scramble_String.class
/Search_Insert_Position.class
/Search_a_2D_Matrix.class
/Search_for_a_Range.class
/Search_in_Rotated_Sorted_Array.class
/Search_in_Rotated_Sorted_Array_II.class
/Set_Matrix_Zeroe.class
/Set_Matrix_Zeroes.class
/Single_Number_2.class
/Single_Number_II.class
/Sort_Colors.class
/Spiral_Matrix_II.class
/Sqrt_x.class
/Subsets.class
/Subsets_II.class
/Sum_Root_to_Leaf_Numbers$TreeNode.class
/Sum_Root_to_Leaf_Numbers.class
/Swap_Nodes_in_Pairs.class
/Symmetric_Tree$TreeNode.class
/Symmetric_Tree.class
/Trapping_Rain_Water.class
/TreeNode.class
/Triangle.class
/Trie$TrieNode.class
/Trie.class
/Unique_Binary_Search_Trees.class
/Unique_Binary_Search_Trees_II.class
/Unique_Paths.class
/Unique_Paths_II.class
/Valid_Parentheses.class
/Valid_Sudoku.class
/Word_Break.class
/list.class
/mock.class
/pow.class
/reverseWords.class
/single_number.class
/sort_merge.class
/threeSum_Closest.class
/tree_function.class
/two_sum.class
